# Arquivos Python gerados
__pycache__/
*.pyc
*.pyd
dist/
build/
eggs/
.eggs/
sdist/
wheel/
*.egg-info/
.venv
venv
env

# Arquivos de log e temporários
*.log
*.bak
*.tmp
*.swp
db.sqlite3
instance/

# Arquivos específicos do ambiente de desenvolvimento
.DS_Store
Thumbs.db
.idea/
.project
.pydevproject
*.sublime-project
*.sublime-workspace

# Arquivos de pacotes e distribuição
requirements*.txt

# Outros arquivos específicos do projeto que você não quer versionar
# Exemplo: arquivos de configuração sensíveis
config.ini
secrets.json

/dados
data_anotation/cgu_report

.env

/data_anotation/diario_oficial

!requirements.txt

prompt_degug_*.txt
data_anotation/backup/df_sancioned.csv
data_anotation/df_sancioned.csv
data_anotation/cgu_report.md
data_anotation/dataframe_licitacoes_anotado_v2.csv
data_anotation/dataframe_licitacoes_anotado.csv
data_anotation/fraud_numbers.pkl
data_anotation/logger_licitacao.txt
